@import "../../styles/base";

.page-quiz {
  background-color: $color-background;
  padding-top: 60px;
  padding-bottom: 60px;
  height: unset;

  .rounded-card-quiz {
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.1);
    width: 1080px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    .container-top{
      display:flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 100px;
      font-weight: bold;
      color: $color-text-dark;
      font-size: 30px;
      .container-subtitle{
        font-size: 25px;
      }
    }
    .quiz-form{
      display: flex;
      flex-direction: column;
      .question{
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 20px;
        padding-top: 30px;
      }
      .radio-buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding-left: 10px;
        padding-bottom: 10px;
        .text{
          padding-left: 10px;
        }
      }
      .button-quiz{
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-normal;
        font-weight: bold;
        .button-submit-quiz{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40%;
          height: 100%;
          margin-top: 100px;
          margin-bottom: 50px;
        }
      }
    }
  }
}