@import "../../styles/base";
.forgot-password1 {
  .rounded-card-forgotpassword1 {
    color: $color-dark-blue-grey;
    padding-bottom: 75px;
    height: 100%;
    max-height: 450px;
    display: flex;
    justify-content: space-evenly;
    .form-title {
      font-size: $font-size-big;
      font-weight: $font-weight-bolder;
      color: $color-dark-blue-grey;
      margin-bottom: $margin-xsmall;
    }

    .sub-form-title {
      font-size: $font-size-normal;
      color: $color-dark-blue-grey;
      margin-bottom: $margin-default;
    }

    .input-container {
      width: 100%;
      margin-bottom: 35px;
      position: relative;

      .input-custom {
        width: 100%;
      }

      .error-message {
        color: $color-watermelon;
        position: absolute;
        bottom: -16px;
        font-size: $font-size-small;
      }

    }

    .active {
      background-color: $color-blue-green;
      -webkit-mask-image: url("../../images/svg/UI-Display.svg");
      mask-image: url("../../images/svg/UI-Display.svg");
    }

    .forgot-button {
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size-normal;
      font-weight: bold;
    }
  }
}

@include media-breakpoint-phone(){
  .forgot-password1{
    .rounded-card-forgotpassword1{
      width:80%;
      height: 100%;
      max-height: 410px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 51px;
      .form-title{
        font-size: 15px;
      }
      .sub-form-title{
        font-size: 13px;
      }
      .input-container{
        height: 21px;
        margin-bottom: 58px;
      }
      .forgot-button{
        margin-top: 10px;
      }
    }
  }
}
